*{
    margin: 0;
    padding: 0;
}
p, h4{
    margin: 0;
}
.main-title{
    padding: 15px;
    background-color: orange;
    text-align: center;
}
.mainContainer{
    height: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #f1f1f1;
    background-color: cornsilk;
    border-radius: 15px;
    height: 100%;
    padding: 10px;
    margin-top: 10px;
}
.sideText{
    margin: 0;
}
.sidenav{  
    position: absolute;
    z-index: 1;
    top: 85px;
    left: 113px;
    width: 300px;
    height: 80%;
    padding: 10px;
    background-color: purple;
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
    border-color: #f1f1f1;
    margin-top: 30px;
    margin-left: 1px;
    margin-bottom: 10px;

}
.vertical-align{
    margin: 1px;
}
.content-row{
    padding-left: 290px;
    margin: 1px;
    margin-left: 5px;
}
.currentConditions{
    max-width: 25%;
    background-color: green;
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
    border-color: #f1f1f1;
    margin: 1px;
    margin-left: 5px;
    margin-top: 10px;
}
.forecastDiv{
    padding-left: 290px;
    margin: 1px;
    margin-left: 5px;
}
.forecast{
    max-width: 19%;
    background-color: blue;
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
    border-color: #f1f1f1;
    margin: 1px;
    margin-left: 5px;
    margin-top: 10px;
}
.seachBoxText{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.btnGo{
    background-color: green;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.btnLocation{
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 5px;
    background-color: blue;
    border-radius: 10px;
}